.main {
    margin: 0.5rem 0.7rem;
    display: grid;
    grid-template: auto / 30fr 70fr;
    justify-content: center;
    gap: 0.5rem;
}

.main > *{
    border-radius: 2rem;
    padding: 0.7rem 1rem;
}

.delivereds {
    grid-row: 1;
    border: none;
    height: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.delivered-orders {
    grid-row: 1;
    border: none;
    height: 100%;
    display: flex;
    padding: 0 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.delivered {
    width: 95%;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    height: 12rem;
}
.delivered-orders .delivered {
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delivered-orders .delivered .delivered-img {
    width: 28%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivered-inf {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 2rem;
}

.delivered-date {
    border-bottom: 1px solid #ccc;
    width: 95%;
    height: 10vh;
    margin: 0 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.7rem;
}

#check-icon {
    color: #2ecc71;
    margin: 0 0.4rem;
    transform: scale(0.8);
}


.delivered-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 36%;
    border-bottom: 1px solid #ccc;
}

.delivered-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.5rem;
    height: 50%;
}

.delivered-link {
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

#arrow-left {
    margin: 0 0 0.5rem 0.5rem;
    color: var(--color-primary);
}

.delivered-img {
    width: 10%;
    height: 5rem;
    margin: 0 0.5rem;
}


.price {
    font-size: 1.1rem;
}