.main {
    grid-area: main;
    justify-self: center;
    border-radius: 3rem;
    width: 100%;
}


.bg-one , .bg-two {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

.bg-one > * , .bg-two > *{
    width: 50%;
    display: flex;
    justify-content: center;
}



.bg-image {
    width: 97%;
    border-radius: 2rem;
    transition: filter 0.4s ;
}

.bg-image:hover {
    filter: drop-shadow(0 0 0.35rem rgb(34, 33, 33) );
}

.owl-stage-outer {
    width: 100%;
}

.carousel {
    background-color: var(--color-accet);
    z-index: 0 !important;
    width: 95vw !important;
    box-sizing : border-box;
    margin-bottom: 1.5rem;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    background-color: #fff;
    margin: 0.5rem;
    padding: 0.5rem;
}


.carousel-name {
    align-self: flex-start;
    color: var(--color-primary);
    font-size: 1.05rem;
    font-weight: 550;
    margin-bottom: 0.5rem;
}
.carousel-price {
    align-self: flex-end;
    margin-left: 1rem;
    color: var(--color-primary);
}

.carousel-price::after {
    content: '\200e';
}

.carousel-image {
    transition: transform 0.4s ;
}
.carousel-image:hover {
    transform: scale(1.08);
}

.ltr {
    unicode-bidi: embed;
    direction: ltr;
    font-weight: 600;
    color: var(--color-secondary);
 }
.owl-nav,.owl-dots {
    display: none !important;
}

.product-link {
    width: 85% !important;
    height:80%;
    margin-bottom: 1.5rem;
}